:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.NavLink {
  padding-left: 30px;
  align-items: center;
  padding-right: 30px;
}

.concertDisplay {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  justify-content: center;
  margin: auto;
  padding-top: 75px
}

